* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("./img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand img {
    height: 50px;
}

.user-info {
    padding: 0;
}

.user-info .row {
    gap: 20px;
}

.user-info div {
    flex: 1;
    margin: 0;
}

.user-info p {
    margin: 10px 0;
    line-height: 1;
}

.user-info p span {
    margin-right: 10px;
    font-weight: 600;
}

.bi-hand-thumbs-up-fill,
.bi-hand-thumbs-down-fill {
    color: #ffffff;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}